<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://sql2.freemysqlhosting.net:3306/sql27441?autoReconnect=true
		</property>
		<property name="hibernate.connection.username">sql27441</property>
		<property name="hibernate.connection.password">eD6%sD1*</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Mapping files -->
		<mapping resource="files.hbm.xml"/>
		<mapping resource="users.hbm.xml"/>
		<mapping resource="unis.hbm.xml"/>
		<mapping resource="trends.hbm.xml"/>
		<mapping resource="course.hbm.xml"/>
</session-factory>
</hibernate-configuration>